/* Write your CSS code here */
.header-values {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.font-weight {
  font-weight: lighter;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.currency-logo {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.currency-values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
